<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.blueberrywaffle.helloworldtweakpreferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
			<string>PSListItemsController</string>
            <key>default</key>
			<integer>1519</integer>
            <key>defaults</key>
            <string>com.blueberrywaffle.helloworldtweakpreferences</string>
            <key>key</key>
            <string>vibrationSetting</string>
            <key>label</key>
            <string>Vibration Setting</string>
            <key>validTitles</key>
            <array>
                <string>Peek</string>
                <string>Pop</string>
                <string>Triple Pulse</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>1519</integer>
                <integer>1520</integer>
                <integer>1521</integer>
            </array>
        </dict>
	</array>
	<key>title</key>
	<string>HelloWorldTweakPreferences</string>
</dict>
</plist>
