Package: com.blueberrywaffle.helloworldtweak
Name: HelloWorldTweak
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Elijah Kroener
Author: Elijah Kroener
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-4+debug
Installed-Size: 200
